<div class="container">
  <h1>create your article</h1>
  <%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

</div>
